#menu 
	background-color: #006f94 !important;
	color: #fff;
	padding: 2px;
}

#headerLogin .menu-item {
	color: white;
}

#headerLogin .ui-menu .ui-menuitem-text {
	color: white;
	font-size: 15px;
}

#headerLogin .ui-state-hover {
	background-color: #044e66!important;
}

#profileBtn {
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}