#menu {
	background-color: #006f94 !important;
	color: #fff;
	padding: 2px;
}

#headerLogin .menu-item {
	color: white;
}

#headerLogin .ui-menu .ui-menuitem-text {
	color: white;
	font-size: 15px;
}

#headerLogin .ui-state-hover {
	background-color: #044e66 !important;
}

#profileBtn {
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

p {
	font-size: 15px;
}

#manager-approve-form .ui-state-disabled {
	opacity: 1 !important;
	cursor: not-allowed;
}

body .ui-datatable thead th.ui-state-active .ui-inputfield {
	color: #000;
}

.tableRow {
	background-color: #f4f5f5 !important;
	background-image: none !important;
}

.status-Aprrove {
	padding: 7px;
	background: #006f94;
	color: #fff;
	border-radius: 9px;
}

.status-Processing {
	padding: 7px;
	background: #4CAF50;
	color: #fff;
	border-radius: 9px;
}

.status-Reject {
	padding: 7px;
	background: #d32f2f;
	color: #fff;
	border-radius: 9px;
}

body .ui-dataview .ui-dataview-header .ui-dataview-layout-options .ui-button-icon-only
	{
	display: none;
}

#task-list-form .card {
	padding: 5px !important
}

#task-list-form .fa-circle {
	color: #96dc82;
}

#task-list-form  td {
	padding: 0.2em !important;
}

.ivy-logo img {
	height: 40px;
	margin: 4px 25px 4px 0;
}

body .ui-datatable thead th.ui-state-active {
	color: #111;
}

body .ui-datatable tbody tr.ui-datatable-even {
	background-color: #fff;
}

.ui-state-disabled {
	opacity: 1 !important
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-chkbox {
	visibility: hidden;
}

.ui-filter-column .ui-column-customfilter .custom-filter {
	width: 100%;
	box-sizing: border-box;
}

#order-form .ui-outputlabel-rfi, #manager-approve-form .ui-outputlabel-rfi
	{
	color: red;
}

#order-form .ui-outputlabel, #manager-approve-form .ui-outputlabel {
	font-weight: bold
}

#order-form .ui-fieldset.ui-widget.ui-widget-content,
	#manager-approve-form .ui-fieldset.ui-widget.ui-widget-content {
	border-radius: 10px !important;
	box-shadow: rgba(0, 0, 0, 0.15) 0.95px 0.95px 1.6px;
}

.danger-button {
	background-color: #d32f2f !important;
	margin: 8px 16px !important;
}

.normal-button {
	background-color: #006f94 !important;
	margin: 8px 16px !important;
}

.warning-button {
	background-color: #607d8b !important;
	margin: 8px 8px !important;
}

.state-SUSPENDED {
	padding: 0.3rem 0.6rem;
	background-color: transparent;
	color: #d32f2f;
	border: 2px solid;
	font-size: 12px !important;
	border-radius: 4px;
}

.state-RESUMED{
	padding: 0.3rem 0.6rem;
	background-color: transparent;
	color: #2196f3;
	border: 2px solid;
	font-size: 12px !important;
	border-radius: 4px;
}


.state-DONE{
	padding: 0.4rem 0.7rem;
	background-color: transparent;
	color: #689f38;
	border: 2px solid;
	font-size: 12px !important;
	border-radius: 4px;
}