#menu {
	background-color: #006f94 !important;
	color: #fff;
	padding: 2px;
}

#headerLogin .menu-item {
	color: white;
}

#headerLogin .ui-menu .ui-menuitem-text {
	color: white;
	font-size: 15px;
}

#headerLogin .ui-state-hover {
	background-color: #044e66 !important;
}

#profileBtn {
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

p {
	font-size: 15px;
}

#manager-approve-form .ui-state-disabled {
	opacity: 1 !important;
	cursor: not-allowed;
}

body .ui-datatable thead th.ui-state-active .ui-inputfield {
	color: #000;
}

.tableRow {
	background-color: #f4f5f5 !important;
	background-image: none !important;
}

.status-Aprrove {
	padding: 7px;
	background: #006f94;
	color: #fff;
	border-radius: 9px;
}

.status-Processing {
	padding: 7px;
	background: #4CAF50;
	color: #fff;
	border-radius: 9px;
}

body .ui-dataview .ui-dataview-header .ui-dataview-layout-options .ui-button-icon-only
	{
	display: none;
}

#task-list-form .card {
	padding: 5px !important
}

#task-list-form .fa-circle {
	color: #96dc82;
}

#task-list-form  td {
	padding: 0.2em !important;
}

.ivy-logo img {
	height: 40px;
	margin: 4px 25px 4px 0;
}

body .ui-datatable thead th.ui-state-active {
	color: #111;
}

body .ui-datatable tbody tr.ui-datatable-even {
	background-color: #fff;
}

.ui-state-disabled {
	opacity: 1 !important
}